<div class="row justify-content-center m-3">
    <div class="card bg-light" style="width: 18rem;">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <!-- Cross button to close the card -->
                <button type="button" class="btn-close" aria-label="Close" @click="closeCard"></button>
            </div>
            <h5 class="card-title">Sign In</h5>
            <form @submit.prevent="submitForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" v-model="email" class="form-control" id="exampleInputEmail1">
                    <div v-if="message" class="alert alert-warning">
                        {{message}}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" v-model="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="remember">Remember Me</label> <input id="remember" name="remember" type="checkbox"
                        v-model="remember" value="y">
                </div>
                <button type="submit" class="btn btn-outline-primary">Login</button>
            </form>
        </div>
    </div>
</div>